bin
include
lib
lib64
pyvenv.cfg
.env
*.csv
/camera_test/wired
/camera_test/wireless
/camera_test/comprision
.DS_Store
image_flattening/__pycache__/warp.cpython-312.pyc
image_flattening/warped_battlefield.mp4
image_flattening/test.mp4
ml_env
machine/__pycache__
machine/data
machine/runs
machine/roboflow.env
NHRL-Robots-6
NHRL
NHRL-Robots-4
runs
data/input_video
data/warped_vid_frames
*.pyc
*.mp4
!/main_files/test_videos/
!/main_files/test_videos/*.mp4
/image_flattening/image_flattening/
/machine/data
/image_flattening/data
/image_flattening/__pycache__/
/machine/data
/machine/saved_models
test_results
/main_files/captured_image.png
/main_files/selected_colors.txt
/main_files/warped_cage.png
/main_files/warped_frame.png
/main_files/resized_image.png
/main_files/homography_matrix.txt
/main_files/12567_png.rf.6bb2ea773419cd7ef9c75502af6fe808.jpg

# vid_and_img_processing
/vid_and_img_processing/data/input_img/*.png
/vid_and_img_processing/data/warped_img/*.png
/vid_and_img_processing/data/warped_vid_frames/*
/vid_and_img_processing/data/input_video/*.mp4
/vid_and_img_processing/data/warped_video/*.mp4