inference
line-profiler
numpy
onnxruntime
opencv_python
opencv_python_headless
openvino
pandas
pillow
pyserial
python-dotenv
PyYAML
roboflow
serial
torch
torchvision
ultralytics

# pip install -r requirements.txt once you make a new venv
